<style>h1 {
	color: blueviolet;
}

h1 {
	font-style: italic;
}

h2 {
	color: #ba4690;
}

main {
	background-color: #ffffff;
	background-image: linear-gradient(62deg, #ffffff 0%, #ad0089 100%);
	

}

h4 {
	
	text-align: center;
	font-family: monospace;
	font-size: large;
	.box {
		color: pink;
		background: grey;
		overflow: hidden;
		padding: 10px;
		border-width: 15px;
		border-style: dotted;
		border-color: black;
		position: static;
		border-radius: 100%;
		width: 200px;
		height: 200px;
		
	}
}

.section{
	background: rgb(228, 212, 212);
}



table {
	width: 50%
}

</style>